*{
   margin: 0;
   padding: 0;
   font-family: "montserrat",sans-serif;
}

.logo img
{
   width:100px;
   float:left;
   height:auto;
} 

 button:hover
  {
    background:#F0F8FF;
    color:white;
  }

  button
 {
   background-color:white;
   border:1px solid #2ab7ca;
   outline:none;
   color:#005b96;
   font-size:25px;
   padding:8px;
   cursor:pointer;
   border-radius:10px!important;
 }

.navbar
{
   font-size:1.5rem;
}

.navbar-brand img
{
   height:5rem!important;
}

.navbar-light .navbar-nav .nav-link
{
   color:blue!important;
}

.navbar-light .navbar-nav .nav-link:hover
{
   color: red!important;
}

.image
{
   background: url(bg.jpg) no-repeat center;
   background-size: cover;

}

.contact-section
{
   margin-top:10px;
   padding: 20px 0;
}

.contact-section h1
{
   text-align:center;
   color: red;
}

.contact-form
{
   margin:auto;
   border: 2px solid #ccc;
   box-sizing: border-box;
   max-width:450px;
   overflow: hidden;
   background: none;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;x;
}

.contact-form-text
{
   display: block;
   width: 100%;
   box-sizing: border-box;
   margin: 10px 0;
   border: 1px solid #ccc;
   background: none;
   padding: 20px 40px;
   outline: none;
   color: #ddd;
   transition: 0.5s;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;x;
}

.contact-form-text:focus
{
   box-shadow: 0 0 10px 4px #34495e;
   background: #fff;
   color: #262626;
   font-size: 14px;
}

textarea.contact-form-text
{
   resize: none;
   height: 100px;
}

.contact-form-btn
{
   border: 0;
   margin-top:1rem;
   background:blue;
   color: #fff;
   padding: 12px 50px;
   border-radius: 20px;
   cursor: pointer;
   transition: 0.5s;
}

.contact-form-btn:hover
{
   background: #2980b9;
}

.add 
{
   text-align:left;
   margin-top:30px;
   margin-left:30px;
 }

.add p
{
   font-size:15px;
   color:white;
}

.add h4
{
   color:#e91e63;
}

.add i
{

   font-size:18px;
   color:blue;
   height:30px;
   width:30px;
   background-color:white;
   margin-bottom:px;
   text-align:center;
   line-height:30px;
   border-radius:100%;
   
}




section 
{  
    padding: 10px 0;  
}  

section .section-title
 {  
    text-align: center;  
    color: #007b5e;  
    margin-bottom: 50px;  
    text-transform: uppercase; 
}  

.dropdown-menu a 
{
  color:blue!important;
  font-size:1.3rem;
}

.dropdown-menu a:hover
{
  color:red!important;
  text-decoration:underline; 
  background-color: transparent;
}

#footer 
{  
  background:#091e5c;     
} 

.one 
{
  font-size: 1.8rem;
  color: white;      
  margin-top: 5rem;
  text-align: center;
}

#footer .two a  
{
  font-size: 1.4rem;
  color:white;
  margin-left:1rem;
}

.three 
{
  font-size: 1.8rem;
  color:white;
  margin-top: 3rem;
  text-align:center;
}

#footer .four a
{
   
  font-size: 1.8rem;
  color:white;
  margin-left: 1rem;
}

.four a i:hover
{
  font-size: 2rem;
}
 
 .last 
{  
  font-size:1.1rem;
  padding: 10px 0;  
  text-align: center;  
  color: #fff;  
  background:#2B547E;  
  margin-bottom: 0px;
}  



@media (max-width:768px) 
{  
  .one 
  {
    font-size: 1.5rem;
    color:white;
    margin-top: 7rem;
    text-align: center;
  }


  #footer .two a
  {
    font-size:1.2rem;
    text-align:center;
    color:white;
  }

 
  .three 
  {
    font-size: 1.5rem;
    color: white;
    margin-top: 2rem;
    text-align:center;
  }

  #footer .four a
  {
    font-size: 1.5rem;
    color: white;
    text-align:center;
  }

  .four a i:hover
  {
    font-size: 1.7rem;
  }

  button:hover
  {
    background:#F0F8FF;
    color:white;
  }

  button
 {
   background-color:white;
   border:1px solid #2ab7ca;
   outline:none;
   color:#005b96;
   font-size:25px;
   padding:8px;
   cursor:pointer;
   border-radius:10px!important;
 }
} 
 
@media (max-width:320px)
{

  #footer .two a
  {
    font-size:15px;
    text-align:center;
    color:white;
    margin-left:0.4rem ;
  }

  .last 
  {  
    font-size:1rem;

  }

  .carousel-inner img 
  {
    width: 100%;
    height: 50vh;
  } 

  button:hover
  {
    background:#F0F8FF;
    color:white;
  }
  
  button
 {
   background-color:white;
   border:1px solid #2ab7ca;
   outline:none;
   color:#005b96;
   font-size:25px;
   padding:8px;
   cursor:pointer;
   border-radius:10px!important;

 }

 .contact-form-btn{
  align-items: center;
  padding: 8px 30px;
  margin-top:1rem;
 }

